<div>
    <form>
        <div class="form-group">
            <label for="empNumber">Emp No</label>
            <input type="number" id="empNumber" name="empNumber" class="form-control" [(ngModel)]="e.empNo" (focus)="error =''" required>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="e.name" required>
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" id="salary" name="salary" class="form-control" [(ngModel)]="e.salary" required>
        </div>
        <input type="button" class="btn btn-primary btn-block" (click)="addEmployee()" value="Add Employee">
    </form>
</div>
<div style="padding-top: 5px;">
    <span class="text-danger">{{error}}</span>
</div>
<div *ngIf="employeeList?.length" style="padding-top: 5px;">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Emp No</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employeeList;let i = index">
                        <td>{{emp.empNo}}</td>
                        <td>{{emp.name | uppercase}}</td>
                        <td>{{emp.salary | currency}}</td>
                        <td>
                            <i class="glyphicon glyphicon-trash" style="cursor: pointer;" (click)="deleteEmployee(emp.empNo)" title="Delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>