<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="empNumber">Emp No</label>
                        <input type="number" id="empNumber" name="empNumber" class="form-control" [(ngModel)]="e.empNo" (focus)="error =''" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="e.name" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" id="salary" name="salary" class="form-control" [(ngModel)]="e.salary" required>
                    </div>
                    <input type="button" class="btn btn-primary btn-block" (click)="addEmployee()" value="Add Employee">
                </form>
                <div style="padding-top: 5px;">
                    <span class="text-danger">{{error}}</span>
                </div>
            </div>
        </div>

        <div *ngIf="employeeList?.length" style="padding-top: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Emp No</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employeeList;let i = index">
                                <td>{{emp.empNo}}</td>
                                <td>{{emp.name | uppercase}}</td>
                                <td>{{emp.salary | currency}}</td>
                                <td>
                                    <i class="glyphicon glyphicon-trash" style="cursor: pointer;" (click)="deleteEmployee(emp.empNo)" title="Delete"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div *ngIf="userList?.data?.length">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Emp No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList.data;let i = index">
                                <td>{{user.id}}</td>
                                <td>{{user.first_name | uppercase}}</td>
                                <td>{{user.last_name | uppercase}}</td>
                                <td>
                                    <img style="height: 30px; width: 30px;" class="img-circle" src="{{user.avatar}}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <input *ngIf="userList.page !== 1" style="cursor: pointer;" class="btn btn-primary" type="button" value="<< Prev" (click)="loadPage(userList.page - 1)">
                        <span *ngFor="let pageIndex of pages;let i=index;">
                            <input style="cursor: pointer;" class="btn btn-default" type="button" value="{{pageIndex}}" (click)="loadPage(pageIndex)">
                        </span>
                        <input *ngIf="userList.page < userList.total_pages" style="cursor: pointer;" class="btn btn-primary" type="button" value="Next >>"
                            (click)="loadPage(userList.page + 1)">
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 5px;">
            <!-- <a class="btn btn-primary btn-block" [routerLink]="['/details']">Display Employee List</a>
            <router-outlet></router-outlet> -->
            <employee-details></employee-details>
        </div>
    </div>
</div>